Road_Sign_Dataset
gpu
cpu
qt5
yolov5
yolov6
yolov7
*.mp4
*.pt
*.onnx
*.jpg
*.png
*.xml
*.txt
*.vec
*.lrv
*.db
*.csv
*.zip
*.tmp
*.7z
CustomDataset/kinetics_classnames.json
__pycache__
*/__pycache__

*/run/*
*/pyvenv.cfg
*/Scripts/
*/Lib/
*/include/
*/share/
*/.ipynb_checkpoints
datasets
training